{{>layout/header}}

<div class="container">
    <form action="join" method="post">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter ID" name="userId" value="sik2">
        </div>
        <div class="mb-3 mt-3">
            <input type="password" class="form-control" placeholder="Enter password" name="password" value="1234">
        </div>
        <div class="mb-3 mt-3">
            <input type="email" class="form-control" placeholder="Enter email" name="email" value="sik2@test.test">
        </div>
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter username" name="userName" value="준식">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>

{{>layout/footer}}
